In [1]:
import psycopg2
import pandas as pd
import numpy as np
import os
from dotenv import load_dotenv
#import constants
from datetime import date, datetime, timedelta
load_dotenv()
pd.options.mode.chained_assignment = None

from dateutil.relativedelta import relativedelta
database_name = os.getenv('WAREHOUSE_NAME')
database_user = os.getenv('WAREHOUSE_USER')
database_password = os.getenv('WAREHOUSE_PASSWORD')
database_host = os.getenv('WAREHOUSE_HOST')
database_port = os.getenv('WAREHOUSE_PORT')

In [2]:
import os
from utils.login_handler import restricted_page
from dotenv import load_dotenv
load_dotenv()
import json

In [2]:
from user import get_users

In [5]:
df_user = get_users()

,username,password,role,permissions
0,dat,123,admin,"[wh_overall, wh_customer, wh_product, wh_plan,..."
1,stanley,123,admin,"[wh_overall, wh_customer, wh_product, wh_plan,..."
2,dungtq,123,admin,"[wh_overall, wh_customer, wh_product, wh_plan,..."
3,KHOBA,123,warehouse,"[wh_overall, wh_customer, wh_product, wh_plan,..."
4,color_mixing,123,color_mixing,"[cm_daily, cm_weekly, cm_qc]"
5,sales,123,sales,"[s_daily, s_weekly]"
6,production,123,production,"[prod_daily, prod_weekly]"
7,rd,123,rd,"[rd_daily, rd_weekly]"

In [12]:
df_user1 = df_user.set_index('username').to_dict(orient="index")

{'password': '123',
 'role': 'admin',
 'permissions': ['wh_overall',
  'wh_customer',
  'wh_product',
  'wh_plan',
  'wh_compare',
  'wh_conclusion',
  'cm_daily',
  'cm_weekly',
  'cm_qc']}

In [5]:
from utils.login_handler import disable_page

In [8]:
a = disable_page('abc', permissions)

In [4]:
import user

In [5]:
df_user = user.df_user

In [6]:
df_user

,username,password,role,permissions
0,dat,123,admin,"[wh_overall, wh_customer, wh_product, wh_plan,..."
1,stanley,123,admin,"[wh_overall, wh_customer, wh_product, wh_plan,..."
2,dungtd,123,admin,"[wh_overall, wh_customer, wh_product, wh_plan,..."
3,KHOBA,123,warehouse,"[wh_overall, wh_customer, wh_product, wh_plan,..."
4,color_mixing,123,color_mixing,"[cm_daily, cm_weekly, cm_qc]"
5,sales,123,sales,[]
6,production,123,production,[]
7,rd,123,rd,[]